/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */

html{
  background-color: black;
}

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
div {
  display: block;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 0px;
  color: white;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  width: 100%;
  background-size: cover;
}

.banner h2 {
text-align: center;
}

#logo-cp101 {
  margin: 42px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

#list {
  display: flex;
}

#list ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  font-size: 24px;
}

#list li {
  padding: 42px;
}

.listitem {
  position: relative;
  display: inline-flex;
  border-bottom: 1px dotted black;
}

.listitem .listitemtext {
  font-size: 42px
  visibility: hidden;
  width: 120px;
  background-color: #4692ca;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.listitem:hover .listitemtext {
  visibility: visible;
  opacity: 1;
}

.main-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#center-text {
  font-size: 33px;
  font-weight: bold;
  color: white;
  text-decoration: overline;
  text-align: center;
  position: absolute;
  top: 300px;
}

#center-vid {
  z-index: -1;
  width: 100%;
  position: relative;
}

.foot-container {
  display: flex;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  opacity: 66%;
 }

.foot-container h2, h3 {
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 13px;
  font-size: 22px;
 }

.foot-container ul {
  list-style: none;


  width: 100%;
  padding: 0px;
  font-size: 22px;
  color: white;
 }

.social-btns {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-left: 369px;
  margin-right: 369px;
 }

#list-scl {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

#scl-btn {
  color: #ffffff;
}

#scl-btn:hover {
  color: #4692ca;
}


